:root {
    --portrait-size: 400px;
    --background-size: 2000px;

    --eyes-offset: 0px;
    --mouths-offset: -400px;
    --effect-offset: -800px;

    --talking-offset: -400px;
    --smile-offset: -800px;
    --frown-offset: -1200px;
    --tongue-offset: -1600px;
    
    --thinking-offset: -400px;
    --happy-offset: -800px;
    --angry-offset: -1200px;
    --wink-offset: -1600px;

    --bruise-offset: -400px;
    --tear-offset: -800px;
}

@media (max-width: 900px) {
    html {
        scale: 0.7;
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: center;
    align-items: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 900px) {
    main {
        margin-top: -20vh;
    }
}


/* PORTRAIT SETUP */

@keyframes breathing {
    100% {
        transform: translateY(-10px);
    }
}

#portraitContainer {
    position: relative;
}

#portrait {
    position: relative;
    width: var(--portrait-size);
    height: var(--portrait-size);
    image-rendering: pixelated;
    cursor: pointer;
    animation: breathing 1.5s steps(2) infinite;
}

#portrait.talking {
    animation: breathing 1.5s steps(2) infinite;       
}

#portraitEyes, #portraitMouth, #portraitEffect {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--portrait-size);
    height: var(--portrait-size);
    background: url("../res/spritesheet.png");
    background-size: var(--background-size);
    background-repeat: no-repeat;
}

#portraitEyes {
    background-position-x: 0px;
    background-position-y: var(--eyes-offset);
}

#portraitMouth {
    background-position-x: 0px;
    background-position-y: var(--mouths-offset);
}

#portraitEffect {
    background-position-x: 0px;
    background-position-y: var(--effect-offset);
}

/* EMOTIONS */

@keyframes talking {
    0% {
        background-position-x: var(--talking-offset);
    }
    100% {
        background-position-x: 400px;
    }
}

@media (max-width: 900px) {
    #portraitContainer {
        scale: 0.6;
    }

    #portraitContainer:has(#speech.visible) {
        translate: -70px 0;
    }
}

#portrait.talking #portraitMouth {
    animation: talking 0.5s steps(2) infinite forwards;
}

/* EYES */

#portrait.thinking #portraitEyes {
    background-position-x: var(--thinking-offset);
}

#portrait.happy #portraitEyes {
    background-position-x: var(--happy-offset);
}

#portrait.angry #portraitEyes {
    background-position-x: var(--angry-offset);
}

#portrait.wink #portraitEyes {
    background-position-x: var(--wink-offset);
}

/* MOUTHS */

#portrait.smile #portraitMouth {
    background-position-x: var(--smile-offset);
}

#portrait.frown #portraitMouth {
    background-position-x: var(--frown-offset);
}

#portrait.tongue #portraitMouth {
    background-position-x: var(--tongue-offset);
}

/* EFFECTS */

#portrait.nervous #portraitEffect {
    background-position-x: var(--tear-offset);
}

#portrait.bruised #portraitEffect {
    background-position-x: var(--bruise-offset);
}

/* SPEECH BUBBLE */

#speech {
    position: absolute;
    bottom: 10%;
    right: -60%;
    width: var(--portrait-size);
    height: var(--portrait-size);
    background: url("../res/speechbubble.png") left top;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    display: none;
}

#speech.visible {
    display: block;
}

#fastForward {
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    bottom: 15%;
    right: 15%;
}

#fastForward img {
    max-width: 40px;
    max-height: 40px;
}

#answerContainer {
    padding-top: 120px;
    padding-left: 95px;
    padding-right: 60px;
    max-height: 140px;
    height: 140px;
    
}

#answerContainer2 {
    overflow-y: scroll;
    padding-right: 10px;
    max-height: 140px;
    display: flex;  
    flex-direction: column-reverse;
}

#answer {
    font-size: x-large;
}

/* QUESTIONS LIST */

#questionsTitle {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#github {
    width: 30px;
    height: 30px;
}

.questions {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 0 20px;
    min-height: 248px;
    max-height: 248px;
    overflow-y: scroll;
}

ol {
    list-style-type: none;
    padding: 0 10px;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: x-large;
}

button {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;

    background: none;
    background-color: transparent;
    border: none;
    height: 60px;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.question {
    cursor: pointer;
    width: 100%;
}

.questionButton p {
    text-align: left;
    max-width: 90%;
}

.questionButton.asked {
    color: gray;
}

.forwardButton:hover {
    text-decoration-thickness: 0;
}